<!-- dashboard.html -->
{% extends 'student/student.html' %}
{% load static %}

{% block student %}
<style>

</style>

<div class="about-content">
<div class="summary">
<div class="report">    {% if report %}
  <p><a href="{{ student.report.report_file.url }}" download><Det>Download Report</Det>: </a></p>
{% else %}
  <p>No report found.</p>
{% endif %}</div>
{% if calendar_result %}
  <div class="calendar-part">
    
    <div>
      <h2>{{ calendar_result.month }} {{ calendar_result.year }}</h2>
      <div>

<a href="?q=calendar&year={{ calendar_result.prev_year }}&month={{ calendar_result.prev_month }}" class="nav-btn">&lt; Prev</a>
<a href="?q=calendar&year={{ calendar_result.next_year }}&month={{ calendar_result.next_month }}" class="nav-btn">Next &gt;</a>

      </div>
      
      <table class="calendar">
          <thead>
              <tr>
                  {% for day in calendar_result.weekdays %}
                      <th>{{ day }}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              {% for week in calendar_result.calendar %}
                  <tr>
                      {% for day in week %}
                          <td{% if day == calendar_result.today.day and calendar_result.month == calendar_result.today.month and calendar_result.year == calendar_result.today.year %} class="today"{% endif %}
                              {% for event in calendar_result.events %}
                                  {% if event.day == day %}
                                      class="event"
                                  {% endif %}
                              {% endfor %}>
                              {% if day != 0 %}
                                  {{ day }}
                              {% endif %}
                          </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table><br>
      
      <i style="color: #0e498b; font-size: 10px; font-weight: bold;">
      {% for week in calendar_result.calendar %}
          {% for day in week %}
              {% if day != 0 %}
                  {% for event in calendar_result.events %}
                      {% if event.day == day %}
                          {{ day }}/{{ calendar_result.month }}/{{ calendar_result.year }}: {{ event.title }} <br>
                      {% endif %}
                  {% endfor %}
              {% endif %}
          {% endfor %}
      {% endfor %}
      </i>
    </div>
  {% endif %}
  </div>
</div>
</div>
{% endblock %}
