{% extends 'base.html' %}
 {% block title %} Dashboard {% endblock %} 
{% block content %}

<style>
  .side_bar {
    width: 15%;
    background-color: rgb(79, 79, 250);
    margin-top: 15px;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    z-index: 1000;
  }

  .about-content {
    width: 80%;
    padding: 5px 10px 2px 15%;
  }

  .top-content {
    display: flex;
    gap: 40%;
    margin-bottom: 20px;
  }

  .search-box {
    padding-right: 0;
  }

  .search-form {
    display: flex;
    gap: 0;
    align-items: center;
    padding: 0; /* Align items vertically */
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 200px;
  }

  .search-input {
    flex: 1; /* Take up remaining space */
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 0 5px;
    align-items: center;
    margin: 0;
  }

  .search-results {
    z-index: 999;
    box-shadow: 0 0 10px rgba(14, 13, 14, 0.87);
    position: absolute;
    background-color: whitesmoke;
    min-width: 200px;
    min-height: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    float: right;
    right: 10px;
    border-radius: 5px;
  }
</style>
<div class="dashboard">
  <div class="side_bar">
    <h4>
      <ul>
        <li>
          <a href="{% url 'student_dashboard' %}"> <i class="fi fi-br-apps-add"> </i> Dashboard</a>
        </li>
        <li>
            <a href="{% url 'reports' %}">
              <i class="fi fi-sr-newspaper"> </i> My Subjects</a
            >
          </li>

        <li>
            <a href="{% url 'reports' %}">
              <i class="fi fi-sr-newspaper"> </i> Grades</a
            >
          </li>
        <li>
          <a href="{% url 'registration' %}">
            <i class="fi fi-ts-megaphone"></i> </i>Announcements</a
          >
        </li>
        <li>
        </li>
        <li>
            <a href="?q=calendar"><i class="fi fi-sr-calendar-days"> </i>Schedule</a>
          </li>
        <li>
          <a href="#"><i class="fi fi-rr-user"></i> My Account</a>
      </ul>
    </h4>
  </div>

  {% block student %} 
  {% endblock %}
</div>

{% endblock %}