{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<style>

.side_bar {
    width: 15%;
    background-color: rgb(79, 79, 250);
    margin-top: 15px;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    z-index: 1000;
}


.about-content {
    width: 80%;
    padding:5px 10px 2px 15%;

}

.top-content {
    display: flex;
    gap: 40%;
    margin-bottom: 20px;
}

.search-box {
    padding-right: 0;
}

.search-form {
    display: flex;
    gap: 0;
    align-items: center; 
    padding: 0;/* Align items vertically */
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 200px;
}

.search-input {
    flex: 1; /* Take up remaining space */
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 0 5px;
    align-items: center;
    margin: 0;
}

.search-results {
    z-index: 999;
    box-shadow: 0 0 10px rgba(14, 13, 14, 0.87);
    position: absolute;
    background-color: whitesmoke;
    min-width: 200px;
    min-height: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    float: right;
    right: 10px;
    border-radius: 5px;
}


</style>
<div class="dashboard">
    <div class="side_bar" >
        <h4>
            <ul>
                <li><a href="#"> <i class="fi fi-br-apps-add"> </i> Dashboard</a></li>
                <li><a href="#"> <i class="fi fi-sr-graduation-cap">  </i> My Classes</a></li>
                <li><a href="#"> <i class="fi fi-sr-note"></i> My Assignments</a></li>
                <li><a href="#"><i class="fi fi-sr-calendar-days"> </i>Calendar</a></li>
                <li><a href="#"><i class="fi fi-rr-user"></i> My Account</a></li>
            </ul>
        </h4>
    </div>

<div class="about-content">
        {% if user.user_type == 'teacher' %} 
        <div class="top-content">
            <div><h2>Welcome, {{user.first_name}}</h2>  </div>
            <div class="search-box">
                <form method="GET" action="{% url 'teacher_dashboard' %}" class="search-form">
                    <input type="text" name="q" id="searchInput" class="search-input" placeholder="Search subjects...">
                    <button type="submit" class="search-button" style=" background-color: white; color: black; flex: 1;
                    font-size: 14px;
                    border: none;
                    margin: 0;
                    border-radius: 20px;
                    padding: 3px 10px 0 0;
                    width: 5%;
                    align-items: center;"><i class="fi fi-br-search"></i></button>
                </form>

            {% if query %}
            <div class="search-results">
            {% if filtered_names %}
            <i>Search results:</i><br><br>
            Classes:
            {% for course in teacher.course.all %}
            {% if course.name in filtered_names %}
                <a href="{% url 'class_details' course_id=course.id %}" 
                style="border-style: solid;
                border-radius: 5px;
                border-width: 1px;
                margin: 2px;

                ">
                    {{ course.name }}
                </a>
                {% endif %}
            {% endfor %} <br><br>
            Subjects:

            {% for course in teacher.subject.all %}
            {% if course.name in filtered_names %}
                <a href="{% url 'class_details' course_id=course.id %}" 
                style="border-style: solid;
                border-radius: 5px;
                border-width: 1px;
                margin: 2px;

                ">
                    {{ course.name }}
                </a>
                {% endif %}
            {% endfor %}
            {% else %}
                No matching results...
            {% endif %}
             </div>  
             {% endif %}  
            </div>
        </div>

        <div class="summary">
            <div class="summary-part">
                <i class="fi fi-sr-users"></i>
                <h5>Total Students <br><br>{{count_students}}</h5>
            </div>
            <div class="summary-part">
                <i class="fi fi-sr-graduation-cap"> 
                </i> <h5>Total classes <br><br>{{count_classes}}</h5>
                </div>
            <div class="summary-part"> <i class="fi fi-sr-books"></i> <h5>Total Subjects <br><br>{{count_subjects}}</h5>
                
            </div>
            <div class="summary-part-graph">

                <img src="data:image/png;base64,{{ graphic }}" alt="Bar Graph">
                <div class="stats">
                    <h3>Average</h3>
                    {% for class_name, average in list %}
                    {{class_name}}: {{average}}% <br>
                    {% endfor %} <br>

                    <h3>Passing rate</h3>
                    {% for class, average_score in list %}
                    {{class}}: {{average_score}} <br>
                    {% endfor %} <br>

                </div>
            </div>
        </div><br><br>
<div class="class-section">
    <h2>My Classes</h2> <br>
    <div class="my_classes">
        {% for course in teacher.course.all %}
            <a href="{% url 'class_details' course_id=course.id %}">
                <div class="my_class">
                <h4>{{ course.name }} </h4><br>
                {{ course.description}}
                {% for subject in course.subject.all %}
                    {% if subject in teacher_instance.subject.all %}
                    {{subject.name}}
                    {% endif %}
                {% endfor  %}
            </div>
            </a>
        {% endfor %}
    </div>
</div>
    
    {% endif %}</p>
</div>
</div>

{% endblock %}