{% extends 'dashboard.html' %}
{% load custom_filters %}

{% block title %}
Applications
{% endblock %}
{% block admin %}
<style>
    .choice {
        display: flex;
    }
</style>

    <h2>Received Applications</h2><br>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <th>Name</th><th>Email</th> <th>Documents</th> <th>Status</th> <th>Update</th>
        {% for application, form in lists %}      
    
        <tr>
            <td>{{application}} </td><td>{{application.email}}</td><td>{% if application.document_name %}
                <a href="{{ application.document_name.url }}">{{ application.document_name.name|basename  }}</a>
                {% else %}
                No document uploaded
                {% endif %}</td> <td>{{application.status}}</td> <td> <div class="choice">{{form.status}}</div></td>
        </tr>
        
        {% endfor %}
    </table>
   
    <input type="submit" value="Update" class="btn">
</form>

{% endblock %}