{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 60%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

  img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

</style>

<div class="about-content">
    <h2>Hi, {{user.username}}  </h2> <br><br>
    {% if user.photo %}
    <img src="{{user.photo.url}}" alt="...">
    {% else  %}
    <img src="static 'images/user_logo.jpg' " alt="...">
    {% endif %}
    <p>
       <b>Name:</b> {{user.first_name}}  {{user.last_name}} <br>
       {% if user.email %}
        <b>Email: </b>{{user.email}}
        {% endif %}
    </p>
{% if nonstudent_data %}
    <table>
        <tbody>
            {% for item in nonstudent_data %}
            {% if item.value %}
              <tr>
                <th>{{ item.label }}</th>
                <td>{{ item.value }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>


{% endblock %}